.post-modal-content {
  form {
    .form-item {
      margin-bottom: 1rem;
      p {
        &.error {
          color: red;
          font-style: italic;
          margin: 0;
          margin-top: 0.5rem;
        }
      }
    }
  }
  .submit-btn {
    width: 100%;
    text-align: center;
    margin: 1rem 0 0 0;
  }
  .ant-modal-footer {
    display: none;
  }
}
